[defaults]

callback_whitelist = profile_tasks
retry_files_enabled = False
host_key_checking = False
inventory = environments/local
callback_plugins = callbacks
hash_behaviour = merge
remote_user = deployer
private_key_file = /home/mydaco/.ssh/id_rsa
ansible_become_pass = deployer

[ssh_connection]
scp_if_ssh = True
